.maindiv{
    margin: auto;
    width: 80%;
}
nav{
    display: flex;
    justify-content: space-between;
}
table{
    width: 100%;
}

.tabhead{
    background-color: black;
    color: white;
}
h2{
    text-align: center;
}
